/*footer*/

#footer {
    padding-top: 5rem;
    position: absolute;
    background-color: #111;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer.footerContainer {
    padding-top: 30px;
}

.footerContainer .footerLogo {
    width: 100px;
    border-radius: 30px;
}

.footerContainer .socialIconsList {
    padding: 20px 0;
    display: flex;
}

.footerContainer .socialIconsList li {
    padding: 0 3px;
}

#footer .footerContainer address {
    color: #fff;
    display: inline-block;
}

#footer .footerContainer span {
    font-weight: 600;
}

#footer .footerContainer a {
    color: #fff;
}

#footer .footerContainer :hover {
    text-decoration: underline;
}

@media (max-width: 767px) {
    #footer .footerContainer :hover {
        padding-top: 30px;
    }
}

#footer .footerBottomContainer {
    background: #000;
    padding: 30px 0;
}

#footer .footerBottomContainer ul {
    list-style: none;
    padding-left: 0;
}

#footer .footerBottomContainer ul li {
    display: inline-block;
    margin: 0 20px;
}

#footer a {
    color: #fff;
}

#footer .footerBottomContainer a:hover {
    text-decoration: underline;
}

#footer .footerBottomContainer p {
    color: #fff;
}

@media (min-width: 768px) {
    .footerBottomContainer p {
        display: inline-block;
        padding-left: 50px;
    }
}

@media (min-width: 992px) {
    .footerBottomContainer .leftContainer {
        float: left;
    }
    .rightContainer {
        float: right;
    }
}

@media (max-width: 991px) {
    .footerBottomContainer {
        text-align: center;
    }
}