.questForm {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100%;
}
.questForm .questTitleContainer {
  color: #000;
  margin-top: 20px;
  padding-top: 20px;
  background-image: url("http://localhost:3000/assets/images/woman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
}
.questForm .formContainer {
  margin-top: 5rem;
  margin-left: 2rem;
  font-weight: 800;
  font-size: 16px;
}
.questForm .formContainer .formRow {
  margin: 30px;
}
.questForm .formContainer .formRow .formCol label:first-child {
  color: wheat;
  font-size: 20px;
}
.questForm .formContainer .formRow .form-check-input {
  background-color: #fff !important;
  line-height: 2;
}
.questForm .formContainer .formRow .form-check-input:checked {
  background-color: #da8e01 !important;
  border-color: #b86800 !important;
}
.questForm .formContainer .formRow .form-check-label {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}
.submitBtn {
  background-color: black !important;
  border-color: #fff !important;
  border-radius: 20px !important;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 26px;
}
.bottomImg {
  width: 40%;
  height: auto;
  float: right;
  border-radius: 5px;
}
