
main {
    margin-top: 60px;
  }
  body {
    color: #fff5f5;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shippori Antique', sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #1a1a1a;
    
  }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 40px; */
    padding: 15px 40px;
    background-color: #fff;
    background-size: cover;
  }

  
  
  header img {
    height: auto;
  }
  
 main h3{
   color: rgb(0, 0, 0)
 }
  
  header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    
  }
  
  header ul li {
    display: inline;
    padding: 0 9px;
  }
  
  header ul li > a {
    text-decoration: none;
    color: #1a1a1a;
  }

  #top_artists,#top_tracks,#top_genres,#recommended{
 
border-image:none ;
    background: linear-gradient(-45deg, #cec7c4, #a19b9d, #363533, #252523);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    border-image: none;
	/* height: 100vh; */
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


    #recommended{
    background: linear-gradient(-45deg, #cec7c4, #a19b9d, #363533, #252523);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    border-image: none;
    margin-bottom: 0px;
    border-radius: 0px;
    border-image: none;
    }




    /*footer*/

footer{
  padding-top: 70px;
}

    .ct-footer {
      background-color: #111;
      position: relative;
  }
  
  .col-md-2 img{
      width: 100px;
      border-radius: 30px;
  }
  
  
  .ct-footer-post {
      background: #000;
      padding: 30px 0;
  }
  
  
  .ct-footer-post ul {
      list-style: none;
      padding-left: 0;
      margin: 0 -20px;
  }
  
  .ct-footer-post ul li {
      display: inline-block;
      margin: 0 20px
  }
  
  .ct-footer-post a {
      color: #fff;
  }
  
  .ct-footer-post a:hover {
      text-decoration: underline
  }
  
  .ct-footer-post p {
      color: #fff;
  }
  
  @media (min-width:768px) {
      .ct-footer-post p {
          display: inline-block
      }
      .ct-footer-post p + p {
          padding-left: 50px
      }
  }
  
  @media (min-width:992px) {
      .ct-footer-post .inner-left {
          float: left
      }
      .ct-footer-post .inner-right {
          float: right
      }
  }
  
  @media (max-width:991px) {
      .ct-footer-post {
          text-align: center
      }
  }
  
  .ct-footer-meta {
      padding-top: 30px;
  }
  
  .ct-footer-meta .ct-socials {
      padding: 20px 0;
      display: flex;
  }
  
  .ct-footer-meta .ct-socials li {
      padding: 0 3px;
      
  }
 .card{
   color: black;
   border:none;
   border-color: #fff;
 } 
  
  address {
      color: #fff;
      display: inline-block;
  }
  
  address span {
      font-weight: 600
  }
  
  address a {
      color: #fff;
  }
  
  address a:hover {
      text-decoration: underline
  }
  
  @media (max-width:767px) {
      address {
          padding-top: 30px
      }
  }
  
 
  .ct-mediaSection {
      background-attachment: fixed
  }
  
  .ct-section_header--type1 {
      font-family: 'Open Sans Condensed', sans-serif;
      color: #000;
      font-size: 115px;
      text-transform: uppercase;
  }
  
  @media (max-width:479px) {
      .ct-section_header--type1 {
          font-size: 60px;
          line-height: .8
      }
  }
  
  .ct-section_header--type2 small {
      font-family: 'coquette', fantasy;
      font-size: 58px;
      line-height: .7;
      display: block;
      font-weight: 700;
      position: relative;
      left: -12px
  }
  
  .ct-section_header--type2 span {
      font-family: 'Bebas Neue';
      font-size: 115px;
      line-height: .8
  }
  
  .ct-section_header--type2 img {
      display: inline-block;
      position: relative;
      top: 15px;
      padding-right: 3px
  }
  
  .ct-section_header--type3 {
      text-align: center;
  }
  
  .ct-section_header--type3 small {
      font-family: 'coquette', fantasy;
      font-size: 50px;
      padding: 15px 0;
      font-weight: 700;
      color: #fff;
      background-image: url("/core/fileparse.php/16/urlt/../images/ribbon.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block
  }
  
  .ct-section_header--type3 span {
      font-family: 'Bebas Neue';
      font-size: 150px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: .85
  }
  
  @media (max-width:479px) {
      .ct-section_header--type3 small {
          font-size: 25px
      }
      .ct-section_header--type3 span {
          font-size: 90px
      }
  }
  
  .ct-section_header--type4 {
      text-align: center;
  }
  
  .ct-section_header--type4:before,
  .ct-section_header--type4:after {
      content: '';
      display: table
  }
  
  .ct-section_header--type4:after {
      clear: both
  }
  
  .ct-section_header--type4 small {
      font-family: 'coquette', fantasy;
      font-size: 50px;
      color: inherit;
      font-weight: 700;
      display: block
  }
  
  .ct-section_header--type4 span {
      font-family: 'nimbus-sans-condensed', sans-serif;
      font-weight: 400;
      font-weight: bold;
      font-size: 150px;
      text-transform: uppercase;
      display: block;
      line-height: .7
  }
  
  @media (max-width:479px) {
      .ct-section_header--type4 small {
          font-size: 40px
      }
      .ct-section_header--type4 span {
          font-size: 80px
      }
  }
  
  .ct-section_header + p {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: -1.5px;
      text-align: center;
  }
  
  @media (max-width:479px) {
      .ct-section_header + p {
          font-size: 22px
      }
  }
  
  .ct-section_header--type4 + p {
      font-family: 'nimbus-sans-condensed', sans-serif;
      font-weight: 400;
      font-size: 40px;
      font-weight: 700;
      line-height: 1;
  }
  
  @media (max-width:479px) {
      .ct-section_header--type4 + p {
          font-size: 28px
      }
  }