

main {
  margin-top: 60px;
}

body {
  color: #1a1a1a;
  font-family: "Signika", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: calc(100vw - 80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 40px; */
  padding: 15px 40px;
  background-color: #fff;
}

header img {
  height: auto;
}

header nav {
  display: block;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}

header ul li {
  display: inline;
  padding: 0 9px;
}

header ul li > a {
  text-decoration: none;
  color: #1a1a1a;
}

.hero-section {
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero-section h1 {
  font-size: 65px;
}

.hero-section p {
  font-size: 1.5em;
  width: 550px;
  font-weight: normal;
  text-align: center;
}

.whats-on-music {
  text-align: center;
  margin: 25px;
}

.music-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0b206;
  color: #fff;
  padding: 90px;
}

.feature-blocks {
  width: 220px;
  font-size: 1.1em;
  line-height: 1.6;
}

.feature-blocks:first-of-type {
  padding-top: 30px;
}

.music-white-icon {
  width: 350px;
  border-radius: 30px;
  height: auto;
}

.music-app {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

.section-title {
  padding-bottom: 5px;
  border-bottom: 3px solid #f0b206;
  display: inline;
}

.section-title--white {
  border-color: #fff;
  font-size: 26px;
  letter-spacing: 1.5px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.row .column {
  text-align: center;
  width: 200px;
}

.row .column img {
  width: auto;
  height: 60px;
}

.row .column h3 {
  color: #f0b206;
  font-size: 1.5em;
}

.container {
  margin: 0 35px;
}
