.offcanvas-end {
  width: 500px !important;
  @media screen and( max-width:600px) {
    width: 400px !important;
  }
  @media screen and( min-width:900px) {
    width: 600px !important;
  }
  @media screen and( min-width:1200px) {
    width: 700px !important;
  }
}
