.offcanvas-end {
  width: 500px !important;
}
@media screen and (max-width: 600px) {
  .offcanvas-end {
    width: 400px !important;
 }
}
@media screen and (min-width: 900px) {
  .offcanvas-end {
    width: 600px !important;
 }
}
@media screen and (min-width: 1200px) {
  .offcanvas-end {
    width: 700px !important;
 }
}
