.mostPlayed {
  background-image: url('http://localhost:3000/assets/images/party.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
}
.recommendationsContainer {
  background-color: #fefefe;
}
h3{
  color: #fefefe;
}