
.container-fluid{
    background-color: black;
    color:white;
}
.text-black fw-bolder{
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    size: 18px;
    font-weight: bold;
}
.navbar{
    padding: 0px !important;
}